In [43]:
course = "Python for Everybody"

In [44]:
result = 1 + 1
bool(result == 2)

True

In [45]:
food = ['Eggs','Bread', 'Bread']

In [46]:
food

['Eggs', 'Bread', 'Bread']

In [47]:
food.append('Chocolate')

In [48]:
food

['Eggs', 'Bread', 'Bread', 'Chocolate']

In [49]:
grammas_list = ('Flour', 'Butter')

In [50]:
grammas_list

('Flour', 'Butter')

In [51]:
name = "Eddie"

In [52]:
name = "Zephyr"

In [53]:
name

'Zephyr'

In [54]:
list = ['1', '2']

In [55]:
list[0:1]

['1']

In [56]:
your_name = input("Whate is your name?")

In [57]:
your_name

'test'

In [58]:
type(your_name)

str

In [59]:
print("Does this work?")
#
#
#
#

Does this work?

In [60]:
course = "test"

In [61]:
print("The {}".format(course))

The test

In [62]:
!python -V

Python 3.10.3

In [63]:
f"Test {course}"

'Test test'

In [64]:
lst = [1,2,3]

In [65]:
my_cats = ['Henry', 'Zephyr']
my_cats

['Henry', 'Zephyr']

In [66]:
[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [67]:
type(my_cats)

list

In [68]:
my_cats.reverse()
my_cats

['Zephyr', 'Henry']

In [69]:
my_cats.append('Ezra')
my_cats

['Zephyr', 'Henry', 'Ezra']

In [70]:
my_cats.remove('Henry')
my_cats
my_cats.append('Henry')

In [71]:
henry = my_cats.pop()
henry

'Henry'

In [72]:
person = {'key': 'value'}
person

{'key': 'value'}

In [73]:
type(person)

dict

In [74]:
print(person['key'])

value

In [75]:
del person['key']
person

{}

In [76]:
tup = ('test', 'test2')
tup

('test', 'test2')

In [77]:
# sets
colors = {'Blue', 'Red'}
colors

{'Blue', 'Red'}

In [78]:
sports = None
type(sports)

NoneType

In [79]:
if sports is None:
    pass

In [80]:
with open('test.txt', "w") as f:
    f.write('Hello world')
    f.close()

In [81]:
with open("test.txt", "r") as f:
    print(type(f))
    contents = f.read()
    f.close()

contents

<class '_io.TextIOWrapper'>

'Hello world'

In [82]:
age = 30
if age >= 21:
    print("I can drink")

I can drink

In [83]:
string = "test"
if string:
    print("String has a value")

String has a value

In [84]:
string = ""
if not string:
    print("String does not have a value")

String does not have a value

In [ ]:
total_items = None
if total_items:
    print('There are items')
if not total_items:

In [6]:
name = "Test"

In [3]:
if name == "Eddie":
    print("Name is Eddie")

Name is Eddie

In [7]:
if name == "Eddie":
    print("Eddie")
elif name == "Henry":
    print("Meow")
else:
    print(f"The name is {name}")

The name is Test

In [2]:
word = list("Computer")
type(word)
for letter in word:
    print(letter)

C
o
m
p
u
t
e
r

In [5]:
num = 1
while num <= 100:
    print(num)
    num = num +1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
pets = ["Cat", "Dog", "Bird"]
pets
for animal in pets:
    print(animal)

Cat
Dog
Bird

In [7]:
for animal in pets:
    animal = animal.replace("a", "4").replace("o", "0").replace("i", "!")
    print(f"The animal with funky letters is {animal}")

The animal with funky letters is C4t
The animal with funky letters is D0g
The animal with funky letters is B!rd

In [9]:
pets = set({'Cat', 'Dog', 'Goat'})
print(pets)
for set_animal in pets:
    print(set_animal, "is the animal")

{'Goat', 'Dog', 'Cat'}
Goat is the animal
Dog is the animal
Cat is the animal

In [12]:
people = (
    (47, 'Eddie'),
    (53, 'Beth')
)
people
for age, name in people:
    print(f"{name} is {age} years old")

Eddie is 47 years old
Beth is 53 years old

In [13]:
person = {
    'name': 'Eddie',
    'course': 'Python class',
    'role': 'teacher'
}
person

{'name': 'Eddie', 'course': 'Python class', 'role': 'teacher'}

In [16]:
for key in person:
    value = person[key]
    print(key, value)

person.items()

for key, value in person.items():
    print(f"Key: {key} \t\t Value: {value}")

name Eddie
course Python class
role teacher
Key: name 		 Value: Eddie
Key: course 		 Value: Python class
Key: role 		 Value: teacher

In [18]:
num = 100
while num > 0:
  print(num)
  num = num - 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [22]:
colors = ('blue', 'green', 'orange', 'red')
for color in colors:
    if color == 'orange':
        continue
    print(color)

blue
green
red

In [23]:
colors = ('blue', 'green', 'orange', 'red')
for color in colors:
    if color == 'orange':
        break
    print(color)

blue
green

In [26]:
20 == 20
20 == '20'
20 == int('20')

True

In [44]:
tup = (1,2,3)
tup
tup[2]
lst = [*tup]
lst

[1, 2, 3]

In [45]:
'python' in 'python for everybody'

True

In [46]:
if 'eddie' in ['eddie', 'bob']:
    print("eddie is in the list")

eddie is in the list

In [47]:
languages = ['python', 'javascript']
languages
for index, lang in enumerate(languages):
    print(index, lang)

0 python
1 javascript

In [48]:
list1 = ['a', 'b']
list2 = [1,2,3]
for letter, number in zip(list1, list2):
    print(letter, " => ", number)

a  =>  1
b  =>  2

In [50]:
min(list1)

'a'

In [51]:
max(list2)

3

In [2]:
list1 = ['1', '2', '3']
'->'.join(list1)

'1->2->3'

In [4]:
words = ['Python', 'for', 'Everybody']
words.sort()
words

['Everybody', 'Python', 'for']

In [8]:
from random import shuffle
shuffle(words)
words

['for', 'Everybody', 'Python']

In [9]:
course = "Python for Everybody"
mylist = []
for letter in course:
    mylist.append(letter)
print(mylist)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o', 'd', 'y']

In [11]:
mylist2 = [letter for letter in course]
mylist2

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'E',
 'v',
 'e',
 'r',
 'y',
 'b',
 'o',
 'd',
 'y']

In [14]:
vowels = [letter for letter in course if letter.lower() in 'aeiouy']
vowels

['y', 'o', 'o', 'E', 'e', 'y', 'o', 'y']

In [17]:
numbers = [num**2 for num in range(0,9)]
numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [19]:
keys = ['name', 'age', 'role']
values = ['Eddie', 47, 'Developer']
person = {}
for key, value in zip(keys, values):
    person[key] = value
person

{'name': 'Eddie', 'age': 47, 'role': 'Developer'}

In [20]:
person2 = {key: value for key, value in zip(keys, values)}
person2

{'name': 'Eddie', 'age': 47, 'role': 'Developer'}

In [22]:
person3 = {key: value for key, value in zip(keys, values) if key != 'age'}
person3

{'name': 'Eddie', 'role': 'Developer'}

In [27]:
def func_name():
    print('Hello')
func_name()

Hello

In [29]:
def add_two_numbers(num1, num2):
    answer = num1 + num2
    print(answer)

In [30]:
total = add_two_numbers(10, 12)

22

In [1]:
def func_name(*args):
    print(args)
    print(type(args))

In [2]:
func_name(1, 5, 8, 'Python', 'Coding')

(1, 5, 8, 'Python', 'Coding')
<class 'tuple'>

In [6]:
def print_args(*args):
    for arg in args:
        print(arg)

In [7]:
print_args('Computer', 'Coffee', 'Cup')

Computer
Coffee
Cup

In [8]:
def my_func(**kwargs):
    print(kwargs)
    print(type(kwargs))
my_func(name='Eddie')

{'name': 'Eddie'}
<class 'dict'>

In [10]:
def my_func(**kwargs):
    for key, value in kwargs.items():
        print('Key: ', key, '\t\t', 'Value: ', value)
my_func(name='Eddie')

Key:  name 		 Value:  Eddie

In [14]:
def order(name, *dishes, **kwargs):
    print(f'Hello {name}')
    for dish in dishes:
        print(f'\tYou ordered {dish}')

    if kwargs.get('address'):
        address = kwargs.get("address")
        print(f'\tWe are delivering to {address}')
    else:
        print("YOU DID NOT PROVIDE AN ADDRESS")

order("Test", "tacos", "cat food")

Hello Test
	You ordered tacos
	You ordered cat food
YOU DID NOT PROVIDE AN ADDRESS

In [15]:
# this is a comment
person = {}
# Get the persons age, or assign None if an age wasn't found
age = person.get('age', None)
age
type(age)
def func_name():
    """
    This is a function that does a thing
    Its going to return a string
    And maybe some other notes
    This is a multi-line comment doc string
    """

In [21]:
nums = [1, -5, 7,25, 99]
for num in nums:
    print(num * 4)

new_nums = [num*4 for num in nums]
new_nums

4
-20
28
100
396

[4, -20, 28, 100, 396]

In [23]:
def new_func(num):
    if num > 5:
        num = num + 4
    else: 
        num = num - 4
    return num**2
    
nums

[1, -5, 7, 25, 99]

In [24]:
for new_num in map(new_func, nums):
    print(new_num)

9
81
121
841
10609

In [25]:
new_func(56)

3600

In [30]:
names = ['Eddie', 'Test', 'Ezra']
def handle_names(name):
    name = name.lower()
    if name == 'eddie':
        return 'Eddie'
    else:
        return 'Not Handled'

In [32]:
descriptions = []
for description in map(handle_names, names):
    descriptions.append(description)
print(descriptions)

['Eddie', 'Not Handled', 'Not Handled']

In [34]:
description = list(map(handle_names, names))
description

['Eddie', 'Not Handled', 'Not Handled']

In [35]:
for name in names:
    description = handle_names(name)
    descriptions.append(description)

print(descriptions)

['Eddie', 'Not Handled', 'Not Handled', 'Eddie', 'Not Handled', 'Not Handled']

In [37]:
def filter_even_numbers(num):
    """
    Returns only even numbers
    """
    return num % 2 == 0
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
for num in filter(filter_even_numbers, nums):
    print(num)

2
4
6
8
10
12
14

In [39]:
evens = list(filter(filter_even_numbers, nums))
evens

[2, 4, 6, 8, 10, 12, 14]

In [44]:
square = lambda num: num**2
square(5)

25

In [45]:
add = lambda num1, num2: num1+num2
add(1,2)

3

In [46]:
language = "Python"
def change_language():
    language = "Javascript"
    return language
print(language)

Python

In [47]:
change_language()

'Javascript'